{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="container" class="container">
    <div class="d-flex flex-row align-items-center">
        <img height="50vh" class="p-2" src="{% static 'iku-stripes.png' %}">
        <h1>Iku Music Player</h1>
        <div id="profile">
            <h4>
                {% if user.is_authenticated %}
                <p>Welcome, {{ user }}!</p>
                {% else %}
                <a href="login">Login here!</a>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="d-flex flex-row h-fill w-fill">
    <div class="p-2 py-1 w-25 h-100 bg-dark text-white">
        <h1 class="underline">Play.list</h1>
        <div class="border border-light h-75 p-2">
            <h2>Top Playlists</h2>
            <div class="overflow">
            {% for playlist in playlists %}
                <h6 class="d-inline p-0 m-0">- <a href="{{playlist.id}}" class="text-light">{{ playlist.name }}</a></h6>
                <h6>{{playlist.description}}</h6>
            {% endfor %}
            </div>
            <div class="w-100 border border-light"></div>
            <h4>Now playing: {{ selected_song.name }}</h4>
            <div class="w-100 border border-light"></div>
            <h4 class="p-0 m-0 underline">{{sel_playlist.name}}</h4>
            <div class="overflow">
                {% for song in sel_playlist.list.all %}
                <h6 class="d-inline p-0 m-0">- <a href="../../../home/{{ song.id }}/{{sel_playlist.id}}" class="text-light">{{ song.name }}</h6></a><br>
                {% endfor %}
            </div>
        </div>
        <div id="player" class="border border-light w-100 d-flex">
            
            <audio id="track">
                <source src="{{song_location.url}}" type="audio/mpeg">
            </audio>
            
            <div id="player-container">
                <div class="d-inline-block">
                    <input type="checkbox" id="loop" class="text-white check">Loop?</input>
                    <input type="checkbox" id="nextSong" class="text-white check">Next Song?</input>
                    <p class="text-white d-inline-block m-0 p-0">Lenght: {{song_lenght}}s.</p>
                    <div class="d-block h-auto">
                        <input type="range" class="slider" name="audioProgress" id="audioProgress" min="0" value="0" max="{{song_lenght}}" step=".1">Time</input>
                        <input type="range" class="slider" name="volume" id="volume" min="0" value="0" max="100" step="1">Volume</input>
                    </div>
                </div>
                <div id="play-pause" class="play w-100"></div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="p-3 py-1 w-100 h-75 background-green">
            <h1 class="underline">Song.List</h1>
            
            <div>
                {% for song in songs %}
                    <div class="bg-success3">
                        <h3 class="d-inline">- <a id="audio-link" href="../../../home/{{ song.id }}">{{ song.name }}</h3></a><h6 class="d-inline">     < {{song.author}} ></h6>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="w-100 h-25 p-3">
            <h1>Made with <span class="text-danger p-0 m-0">love</span> by <a href="https://dapoyo.neocities.org">Poyo!</a></h1>
            <h3>With the help of: <a href="https://thesomething.uk/">Jesus</a> and WoepdieCat (^-^).</h3>
            {{prev_song}} / {{next_song}}
            
        </div>
    </div>
    
</div>

<script>
    var track = document.getElementById('track');
    var controlBtn = document.getElementById('play-pause');
    var audioProgress = document.getElementById('audioProgress');
    var loop = document.getElementById('loop');
    var volumeInput = document.getElementById('volume');
    var nextSong = document.getElementById('nextSong');
    track.addEventListener('ended', function() {
    if (loop.checked) {
        track.currentTime = 0;
        track.loop = true;
        track.play();
    } 
    else if (nextSong.checked){
        window.location.href = "../../../home/{{next_song.id}}/{{sel_playlist.id}}";
    }
}, false);
    function playPause() {
        if (track.paused) {
            track.play();
            controlBtn.className = "pause";
        } else { 
            track.pause();
            controlBtn.className = "play";
        }
    }
    
    
    function updateTrackTime() {
        track.currentTime = audioProgress.value;
    }
    track.addEventListener('timeupdate', function() {
        audioProgress.value = track.currentTime;
    });
    controlBtn.addEventListener("click", playPause);
    audioProgress.addEventListener("input", updateTrackTime);
    volumeInput.addEventListener('input', function() {
        track.volume = volumeInput.value/100;
    });
</script>
{% endblock content %}